body {
    padding: 0;
    margin: 0;
}

h4 {
    margin: 5px;

}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 90px;
}

.nav-items>ul {
    display: flex;

}

.nav-items>ul>li {
    font-size: large;
    margin-right: 50px;
    list-style-type: none;
}

/* body code start here */
.search {
    margin: 1rem;
}

.res-card {
    width: 200px;
    margin: 2px;
    height: 400px;
    background: linear-gradient(135deg, #C6E7FF, #d8d8dc);
    border-radius: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;

}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.res-name {
    padding: 0 10px;
    background: linear-gradient(150deg, #FAF6E3, #9EDF9C);
    margin: 0;
}

.res-logo {
    max-width: 90%;
    padding: 10px 10px;

}

/* Footer css start here */


.footer {
    display: flex !important;
    justify-content: space-between;
    background-color: #F3F3E0;
    padding: 0;
    margin: 0;
    padding-top: 1rem;
    text-align: center;
}

.social-media>ul {
    display: flex;

}

.social-media>ul>li {
    list-style-type: none;
    margin-right: 10px;
    font-size: large;
    font-weight: 100;
}


.filter-btn {
    margin: 2px;
    padding: 2px;
    width: fit-content;
    text-align: center;
    background-color: #F1F0E8;
    border: 2px solid #FF8000;
    border-radius: 10px;
    cursor: pointer;

}

.filter-btn:hover {
    /* background-color: #D4EBF8; */
    box-shadow: 2px 2px 10px #22177A;
    transition: all 0.4s ease;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

/* Shimmer code start here  */

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer {
    width: 200px;
    height: 300px;
    background: linear-gradient(135deg, #C6E7FF, #d8d8dc);
    border-radius: 10px;
    margin: 10px;
    animation: shimmer 2s infinite;
}

.nav-items>ul>li>button {
    cursor: pointer;
    padding: 5px;
    width: 70px;
    background: linear-gradient(150deg, #e4e4e4, #d8d8dc);
    border: 2px solid #1A1A1D;
    border-radius: 10px !important;

}

.nav-items>ul>li>button:hover {
    box-shadow: 2px 2px 10px #928abc;
    transition: all 0.4s ease;
}

/* search button style here */
.filter{
    display: flex;
}